!!!
%html
  %head
    %title
      = @id.capitalize
      \- Underwear for nerds
    %link{rel: "stylesheet", href: "stylesheets/fonts.css"}
    %link{rel: "stylesheet", href: "stylesheets/style.css"}
    %meta{name: "description", content: "Are you wearing @UNERDWEAR yet? It's designer underwear for nerds ;) http://unerdwear.com #nerdies #underwear #boxers #nerds"}
    %meta{name: "og:image", content: "http://unerdwear.com/images/bacon.png"}
  %body{id: @id}
    = erb :google, { layout:false }
    #fb-root
    #top.menu= haml :menu, { layout:false }
    .content
      = yield
      .clear
      %br
      #bottom.menu= haml :menu, { layout:false }
