!!!
%html
  %head
    %title
      = @id.capitalize
      \- Underwear for nerds
    %link{rel: "stylesheet", href: "stylesheets/fonts.css"}
    %link{rel: "stylesheet", href: "stylesheets/style.css"}
  %body{id: @id}
    = erb :google, { layout:false }
    #fb-root
    #top.menu= haml :menu, { layout:false }
    .content
      = yield
      .clear
      %br
      #bottom.menu= haml :menu, { layout:false }
